body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #2e0898;
}
header a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #2e0898;
  align-content: center;
  height: 40px;
  margin: 10px 10px;
  background-color: #ffd700;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* height: 150px; */
  width: 100vh;
  background-color: white;
  border-radius: 10px;
  margin: 20px 0px;
}
.container img {
  height: auto;
  width: 60px;
  /* margin-right: 10px; */
}
.container button {
  color: whitesmoke;
  height: 35px;
  width: 120px;
  background-color: red;
  float: right;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}
.user-info {
  /* display: flex;
  background-color: red;
  flex-direction: column; */
}
.profileimg {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  /* border: 2px solid red; */
}
.profileButton {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 50%;
}
footer {
  text-align: center;
  align-content: center;
  color: whitesmoke;
  width: 100%;
  height: 35px;
  background-color: rgb(41, 43, 43);
}
