h1 {
  padding: 16px;
  border: 3px solid rgb(8, 8, 117);
  border-radius: 8px;
  background-color: rgba(0, 255, 255, 0.242);
  margin-left: 10px;
  margin-right: 10px;
}
#horario {
  background-color: rgb(159, 190, 191);
  border: 3px solid rgb(8, 8, 117);
}
table {
  border: 2px solid rgb(28, 38, 52);
}
td {
  border: 2px solid rgb(28, 38, 52);
}
tr:nth-child(even) {
  background-color: aliceblue;
}
th {
  border: 2px solid rgb(28, 38, 52);
}
.input-container {
  display: flex;
  margin: 3rem;
}
.parrafo-overflow {
  background-color: blanchedalmond;
  width: 200px;
  height: 200px;
  overflow: auto;
}
